 

<button (click)="toBack()" mat-raised-button color="accent">|<<</button>
 
<button class="downloadBtn" (click)="captureScreen()" mat-raised-button color="accent">download</button>
 
<div id="content" #content>
 <nb-card>
   <div class="row">
     <div class="col-md-4">
      <ngx-qrcode 
      [elementType]="elementType" 
      [value] = "value"
      cssClass = "aclass"
      errorCorrectionLevel = "L">
    </ngx-qrcode>
     </div>
     <div class="col-md-4">
      <ngx-qrcode 
      [elementType]="elementType" 
      [value] = "value"
      cssClass = "aclass"
      errorCorrectionLevel = "L">
    </ngx-qrcode>
     </div>
     <div class="col-md-4">
      <ngx-qrcode 
      [elementType]="elementType" 
      [value] = "value"
      cssClass = "aclass"
      errorCorrectionLevel = "L">
    </ngx-qrcode>
     </div>
     
     
   </div>
   <div class="row">
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    
    
  </div>
  <div class="row">
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    
    
  </div>
  <div class="row">
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    
    
  </div>
  <div class="row">
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    <div class="col-md-4">
     <ngx-qrcode 
     [elementType]="elementType" 
     [value] = "value"
     cssClass = "aclass"
     errorCorrectionLevel = "L">
   </ngx-qrcode>
    </div>
    
    
  </div>
 </nb-card>
</div>
