*{
    margin: 0px;
   // font-family: Arial, Helvetica, sans-serif;
  }
 // .nbcrdbdy{
//     background-color: #94F6D6;
// }
// .nbHdr{
//     background-color: #AEC4FF;
// }
// .example-card{
//     background-color: #AEC4FF;
// }
.thdchild{
    background-color: aliceblue;
}
.tbdChild{
    background-color: #94F6D6;
}