.label {
    display: inline-block;
    margin-bottom: -0.5rem;
  }
  .card-header {
    margin-bottom: -27px;}
  
  .parallelogram-input {
    position: relative;
   
    transform: skewX(-20deg);
  }
  .less-bold-input {
    font-weight: 500; 
   
  }
   
  
  
  .mat-card{
      margin-left: 15px;
  }
  
  .hover-message {
      position: relative;
    }
    
    .hover-message::before {
      content: "to get Weekly,Monthly and Yearly Report in Details select date range then press me!";
      position: absolute;
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      padding: 5px;
      background-color: black;
      color: white;
      font-size: 12px;
      border-radius: 4px;
      opacity: 0;
      transition: opacity 0.3s;
    }
    
    .hover-message:hover::before {
      opacity: 1;
    }
    
    .hover-message:hover {
      cursor: pointer;
    }
    
    