<div class="card-header crdHdr"> 
   
  <h3 class="h4 mb-0">
   <button (click)="backTo()"
   class="btn"
 ><i class="fas fa-arrow-left"></i>
 </button>
 {{languageService.productEntry.customerProfile}}</h3></div>

<div class="card-body">

  <div class="row gx-5">
    <div class="row animated-div">
      <div class="col-md-5">
          
        <form method="POST" #form="ngForm" class="register-form" id="register-form">
                
          <div class="form-group">
             
                <label for="phone">{{languageService.productEntry.mobile}}</label>
                <input  class="form-control form-rounded form-control-sm" 
                required #Phone="ngModel" type="text" name="phone" id="phone"
                 [(ngModel)]="singupObj.phone" placeholder="{{languageService.productEntry.mobile}}"/> 
            
            
            <div
              class="text-left text-danger"
              *ngIf="
              singupObj.phone==''&&
              Phone.touched
              "
            >
            {{languageService.productEntry.mobileRequired}}
            </div>
        </div>
          <div class="form-group">
                <!-- <label for="name"><i class="fas fa-cart-plus"></i></label> -->
                <label for="SubCategory" class="label text-dark">Name</label>
                <input  class="form-control form-rounded form-control-sm" required #Name="ngModel" type="text" name="name" id="name" [(ngModel)]="singupObj.name" placeholder=" {{languageService.productEntry.Name}}"/>
                <div
              class="text-left text-danger"
              *ngIf="
              singupObj.name==''&&
              Name.touched
              "
            >
            {{languageService.productEntry.nameRequird}}
            </div>
            </div>
      
            <div class="form-group">
                <!-- <label for="countryCode"><i class="fas fa-globe mr-2"></i></label> -->
                <label for="SubCategory" class="label text-dark">Select Country</label>
                        <select required #CountryCode="ngModel" name="countryCode"  #countryCode="ngModel" 
            [(ngModel)]="singupObj.countryCode"  class="form-control form-rounded form-control-sm">
              <option value=""> {{languageService.productEntry.SelectCountry}}</option>
              <option *ngFor="let cntry of countryList" [value]="cntry.name">{{cntry.name}}</option>
          </select>
          <div
              class="text-left text-danger"
              *ngIf="
              singupObj.countryCode==''&&
              CountryCode.touched
              "
            >
            {{languageService.productEntry.CountryRerquired}}
            </div>
            </div>
            <div class="form-group">
                <!-- <label for="State"><i class="fas fa-chess-knight"></i></label> -->
                <label for="SubCategory" class="label text-dark">State Name</label>
                <input  class="form-control form-rounded form-control-sm" 
                class="form-control form-rounded form-control-sm" 
                required #State="ngModel" 
                type="text" name="State" id="State" 
                [(ngModel)]="singupObj.State" 
                placeholder="{{languageService.productEntry.stateName}}"/>
            
            </div>
            <div class="form-group">
                <!-- <label for="AddressLineOne"><i class="fas fa-address-card"></i></label> -->
                <label for="SubCategory" class="label text-dark">Address Line One</label>
                <input  class="form-control form-rounded form-control-sm" 
                required #AddressLineOne="ngModel" type="text"
                 name="AddressLineOne" id="AddressLineOne" 
                 [(ngModel)]="singupObj.AddressLineOne" 
                 placeholder="{{languageService.productEntry.addressLineOne}}"/>
          
            </div>
            <div class="form-group">
              <!-- <label for="AddressLineTwo"><i class="fas fa-address-card"></i></label> -->
              <label for="SubCategory" class="label text-dark">Address Line Two</label>
              <input  class="form-control form-rounded form-control-sm" 
              required #AddressLineTwo="ngModel" 
              type="text" name="AddressLineTwo" 
              id="AddressLineTwo" 
              [(ngModel)]="singupObj.AddressLineTwo"
               placeholder="{{languageService.productEntry.addressLineTwo}}"/>
         
            </div>
          
          <div class="form-group">
            <!-- <label for="email"><i class="fas fa-mobile-alt"></i></label> -->
            <label for="SubCategory" class="label text-dark">Email</label>
            <input  class="form-control form-rounded form-control-sm"
             required #Email="ngModel" type="text" name="email" id="email" 
             [(ngModel)]="singupObj.email" 
             placeholder="{{languageService.productEntry.email}}"/>
            
        </div>
        <div class="form-group">
          <!-- <label for="email"><i class="fas fa-mobile-alt"></i></label> -->
          <label for="SubCategory" class="label text-dark">Office Name</label>
          <input  class="form-control form-rounded form-control-sm" required   
          type="text" name="email" id="officeName" 
          [(ngModel)]="singupObj.officeName" 
          placeholder="{{languageService.productEntry.officeName}}"/>
          
      </div>
      <div class="form-group">
        <!-- <label for="email"><i class="fas fa-mobile-alt"></i></label> -->
        <label for="SubCategory" class="label text-dark">Occupation</label>
        <input  class="form-control form-rounded form-control-sm" required  
         type="text" name="occupation" id="occupation" 
         [(ngModel)]="singupObj.occupation" 
         placeholder="{{languageService.productEntry.occupation}}"/>
        
    </div>
         
      <div class="form-group">
        <!-- <label for="ImageLink"><i class="far fa-images"></i></label> -->
        <label for="SubCategory" class="label text-dark">Image Link</label>
        <input  class="form-control form-rounded form-control-sm" type="text" name="ImageLink" id="ImageLink" [(ngModel)]="singupObj.ImageLink" placeholder="{{languageService.productEntry.ImageLink}}"/>
    </div>
           
                <!-- <input type="button"  [disabled]="
                
                singupObj.phone==''||
               
                singupObj.countryCode==''
               
              " name="" id="" (click)="saveMyCustomer()" class="form-submit" value="Save"/>
             
              -->
             
              <button  (click)="saveMyCustomer()" 
              [disabled]=" singupObj.phone==''||singupObj.countryCode==''" 
               type="submit" class="btn btn-info"  (click)="allSubmit(invoiceEntryForm)"
              ><i
                  class="far fa-save fa-lg"></i>
                  Submit
          </button>
            
        </form>
              
              <!-- <form method="POST" #form="ngForm" class="register-form" id="register-form">
                
                <div class="form-group">
                  
                  <div class="row">
                    <div class="col-md-9" >
                      <label for="phone"><i class="fas fa-mobile-alt"></i></label>
                      <input required #Phone="ngModel" type="text" name="phone" id="phone" [(ngModel)]="singupObj.phone" placeholder="{{languageService.productEntry.mobile}}"/> </div>
                    <div class="col-md-3"><Button type="button" (click)="findExistingSystemCustomer()" class="btn btn-primary">Search</Button></div>
                    
                  </div>
                  
                  <div
                    class="text-left text-danger"
                    *ngIf="
                    singupObj.phone==''&&
                    Phone.touched
                    "
                  >
                  {{languageService.productEntry.mobileRequired}}
                  </div>
              </div>
                <div class="form-group">
                      <label for="name"><i class="fas fa-cart-plus"></i></label>
                      <input required #Name="ngModel" type="text" name="name" id="name" [(ngModel)]="singupObj.name" placeholder=" {{languageService.productEntry.Name}}"/>
                      <div
                    class="text-left text-danger"
                    *ngIf="
                    singupObj.name==''&&
                    Name.touched
                    "
                  >
                  {{languageService.productEntry.nameRequird}}
                  </div>
                  </div>
                 
                  <div class="form-group">
                      <label for="countryCode"><i class="fas fa-globe"></i></label>
                     
                              <select required #CountryCode="ngModel" name="countryCode"  #countryCode="ngModel" 
                  [(ngModel)]="singupObj.countryCode" class="form-control">
                    <option value=""> {{languageService.productEntry.SelectCountry}}</option>
                    <option *ngFor="let cntry of countryList" [value]="cntry.name">{{cntry.name}}</option>
                </select>
                <div
                    class="text-left text-danger"
                    *ngIf="
                    singupObj.countryCode==''&&
                    CountryCode.touched
                    "
                  >
                  {{languageService.productEntry.CountryRerquired}}
                  </div>
                  </div>
                  <div class="form-group">
                      <label for="State"><i class="fas fa-chess-knight"></i></label>
                      <input required #State="ngModel" type="text" name="State" id="State" [(ngModel)]="singupObj.State" placeholder="{{languageService.productEntry.stateName}}"/>
                    
                  </div>
                  <div class="form-group">
                      <label for="AddressLineOne"><i class="fas fa-address-card"></i></label>
                      <input required #AddressLineOne="ngModel" type="text" name="AddressLineOne" id="AddressLineOne" [(ngModel)]="singupObj.AddressLineOne" placeholder="{{languageService.productEntry.addressLineOne}}"/>
                   
                  </div>
                  <div class="form-group">
                    <label for="AddressLineTwo"><i class="fas fa-address-card"></i></label>
                      <input required #AddressLineTwo="ngModel" type="text" name="AddressLineTwo" id="AddressLineTwo" [(ngModel)]="singupObj.AddressLineTwo" placeholder="{{languageService.productEntry.addressLineTwo}}"/>
                  
                  </div>
                  
                <div class="form-group">
                  <label for="email"><i class="fas fa-mobile-alt"></i></label>
                  <input required #Email="ngModel" type="text" name="email" id="email" [(ngModel)]="singupObj.email" placeholder="{{languageService.productEntry.email}}"/>
                  
              </div>
              <div class="form-group">
                <label for="email"><i class="fas fa-mobile-alt"></i></label>
                <input required   type="text" name="email" id="officeName" [(ngModel)]="singupObj.officeName" placeholder="{{languageService.productEntry.officeName}}"/>
                
            </div>
            <div class="form-group">
              <label for="email"><i class="fas fa-mobile-alt"></i></label>
              <input required   type="text" name="occupation" id="occupation" [(ngModel)]="singupObj.occupation" placeholder="{{languageService.productEntry.occupation}}"/>
              
          </div>
               
            <div class="form-group">
              <label for="ImageLink"><i class="far fa-images"></i></label>
              <input type="text" name="ImageLink" id="ImageLink" [(ngModel)]="singupObj.ImageLink" placeholder="{{languageService.productEntry.ImageLink}}"/>
          </div>
                  <div class="form-group form-button">
                      <input type="button"  [disabled]="
                      
                      singupObj.phone==''||
                     
                      singupObj.countryCode==''
                     
                    " name="" id="" (click)="saveMyCustomer()" class="form-submit" value="Save"/>
                  </div>
                  
              </form> -->
          
      </div>
      <div class="col-md-4">
          
             <img height="50%" width="70%"  src="assets/images2/supplierProfile.jpg" alt="sing up image">
           
          
      </div>

 
  </div>
</div>
      
        


