.mat-card{
    margin-left: 15px;
}
.label {
    display: inline-block;
    margin-bottom: -0.5rem;
  }
  .card-header {
    margin-bottom: -27px;}
  
  .parallelogram-input {
    position: relative;
   
    transform: skewX(-20deg);
  }
  .less-bold-input {
    font-weight: 500; 
   
  }
   