<div class="card-header crdHdr">

  <div class="row">
    <div class="col-lg-1 col-md-1 col-sm-1">
      <button  title="{{languageService.productEntry.BackButtonhoverEffect}}"  
      class="btn   addMore" (click)="backToInvoiceInfo()"
    >
    <i class="fas fa-arrow-left"></i>
    </button>
    </div>
    <div class="col-lg-11 col-md-10 col-sm-11">
      <h5 align="center" class="h4 mb-0">{{languageService.SalesReturnInfo.SalesReturncreate}} </h5></div>
    </div>
 </div>



<div class="card-body">
  
  <div class="row gx-5 ">
  <div class="col-sm-10 col-md-10 col-lg-10 animated-div">
      <div class="row">
        <div class="col-sm-1">
          <div class="form-group">
            <button class="mt-3" type="button"  title="{{languageService.InvoiceEntry.AddNewCustomer}}" *ngIf="!isShowCustomerAddBtn"  (click)="addNewCustomer()" class="btn btn-light btn-sm addMore">
              <i class=" fas fa-plus"></i>
            </button>
            
            </div>
          </div>
      </div>
        <div class="row">
        
          <div class="col-sm-3">

            <div class="form-group">
              <label for="Category" class="label text-dark">Customer Number
                <span class="text-danger"><strong class="bigger-asterisk">*</strong></span>
              </label>
              <span class="input-wrapper">
                <input type="text"
                      placeholder="{{languageService.InvoiceEntry.CustomerMobile}}"
                      aria-label="Number"
                      
                      class="form-control form-rounded form-control-sm less-bold-input"
                      [formControl]="myControlCustomer"
                      [matAutocomplete]="customer">
                      <div *ngIf="myControlCustomer.value!==''&&myControlCustomer.value!==null" class="input-group-append">
                        <span class="close-icon" (click)="clearInputCustomer()">
                          <i class="fa fa-times-circle" aria-hidden="true"></i>
                        </span>
                      </div> 
                  </span> 
                <mat-autocomplete autoActiveFirstOption #customer="matAutocomplete">
                
                  <mat-option class="less-bold-input"  (click)="customerSelection(option)" *ngFor="let option of filteredOptionsCustomer | async" [value]="option.phone">
                {{option.phone}}
           
                
                  </mat-option>
                </mat-autocomplete>
                
             
            </div>
          
          </div>
       
            <div class="col-sm-3">
              <div class="form-group">
                <label for="Category" class="label text-dark">{{languageService.InvoiceEntry.ClientName}} 
                  <span class="text-danger"><strong class="bigger-asterisk">*</strong></span>
                </label>
                <input  type="text"  #cName="ngModel"  [(ngModel)]="clinentName"  class="form-control form-rounded"  id="JobNo" placeholder="{{languageService.InvoiceEntry.ClientName}}" >
                <div class="text-left text-danger"
                *ngIf="clinentName==''&&cName.touched">
                {{languageService.InvoiceEntry.ClientName}}  {{languageService.productEntry.Required}}
              </div>
              </div>
            
            </div>
            
            
            <div class="col-sm-3">
              <div class="form-group">
                <label for="entryDate" class="label text-dark"> Entry Date</label>
                  <input
                  class="form-control form-rounded"
                  type="date"
                  name="entryDate" 
                  #eDate="ngModel"
                  [(ngModel)]="entryDate"
                  placeholder="Select Date"
                  required >
                
              
                  <div class="text-left text-danger"
                  *ngIf="entryDate==''&&eDate.touched">
                  Date is required 
                </div>
              </div>
            
            </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label  class="label text-dark">Memo No</label>
                <input class="form-control form-rounded" type="text" name="memoNo"
                    [(ngModel)]="memoNo"   id="JobNo" placeholder="{{languageService.InvoiceEntry.memoNo}}" >
                 
                </div>
              </div>
           
         
        </div>
        <div class="row">
          <div class="col-sm-3">
            <div class="form-group">
              <label  class="label text-dark">Return By</label>
                <input
                class="form-control form-rounded"
                type="text"
                name="salesBy" 
               
                [(ngModel)]="salesBy"
                placeholder="{{languageService.InvoiceEntry.returnBy}}"
                  >

            </div>
          
          </div>
          <div class="col-sm-3">
            <div class="form-group">
              <label for="Category" class="label text-dark"> {{languageService.productEntry.productCategory}}
                <span class="text-danger"><strong class="bigger-asterisk">*</strong></span>
              </label>

              <search-dropdown 
              [items]="dropdownValuesService.productCategories" 
              [size]="'small'" 
              [img]="'product'" 
              [label]="'ProductName'" 
              [uid]="'productId'" 
              [(ngModel)]="dropdownValuesService.Category">
            </search-dropdown>
            </div>
          </div>
            <div class="col-sm-3">
              <div class="form-group">
                <label for="SubCategory" class="label text-dark">{{languageService.productEntry.subCategory}}</label>               
                <select name="SubCategory"  #subCategory="ngModel"
                (change)="dropdownValuesService.OnSubCategoryDDLChange(dropdownValuesService.SubCategory)"
                [(ngModel)]="dropdownValuesService.SubCategory" class="form-control form-rounded">
                  <option value=''>{{languageService.productEntry.Select}} {{languageService.productEntry.subCategory}} </option>
                  <option *ngFor="let productSubCategorie of dropdownValuesService.filterproductSubCategories"  [value]="productSubCategorie.SubCategoreisName">{{productSubCategorie.SubCategoreisName}}</option>
              </select>
                   
              </div>
            </div>
            <div class="col-sm-3">
   
              <div class="form-group">
                <label for="Category" class="label text-dark">{{languageService.InvoiceEntry.ChooseProduct}}
                  <span class="text-danger"><strong class="bigger-asterisk">*</strong></span>
                </label>
                <span class="input-wrapper">
                  <input type="text"
                        placeholder="{{languageService.InvoiceEntry.ChooseProduct}}"
                        aria-label="Number"
                      
                        class="form-control form-rounded form-control-sm less-bold-input"
                        [formControl]="dropdownValuesService.myControl"
                        [matAutocomplete]="auto">
                        <div *ngIf="dropdownValuesService.myControl.value!==''&&dropdownValuesService.myControl.value!==null" class="input-group-append">
                          <span class="close-icon" (click)="clearInputChooseProduct()">
                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                          </span>
                        </div>
                      </span>
                  <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                  
                    <mat-option class="less-bold-input" (click)="productSelection(option.key)"  *ngFor="let option of dropdownValuesService.filteredOptions | async" [value]="option.name">
                  {{option.name}}  
                    
                  
                    </mat-option>
                  </mat-autocomplete>
                  <!-- <button  mat-icon-button matSuffix aria-label="clear"  >
                    <mat-icon title="{{languageService.productEntry.productSearchWordCancelEffect}}" class="addMore">close</mat-icon>
                  </button> -->
               
              </div>
            
            </div>
            
            
        </div>
<div class="row">
  <div class="col-sm-3">
     
    <div class="form-group">
      <label for="Category" class="label text-dark">{{languageService.InvoiceEntry.ChooseSerialNumber}}</label>
    <span class="input-wrapper">
      <input type="text"
       
              placeholder="{{languageService.InvoiceEntry.ChooseSerialNumber}}"
              aria-label="Number"
              class="form-control form-rounded form-control-sm less-bold-input"
              [formControl]="dropdownValuesService.myControlSerialNumber"
              [matAutocomplete]="autoSerialNo">
              <div *ngIf="dropdownValuesService.myControlSerialNumber.value!==''&&dropdownValuesService.myControlSerialNumber.value!==null" class="input-group-append">
                <span class="close-icon" (click)="clearSerialInputNumber()">
                  <i class="fa fa-times-circle" aria-hidden="true"></i>
                </span>
              </div>
            </span>
        <mat-autocomplete autoActiveFirstOption #autoSerialNo="matAutocomplete">
        
          <mat-option class="less-bold-input" (click)="productSelection(option.key)"  *ngFor="let option of dropdownValuesService.filteredOptionsSerialNumber | async" [value]="option.serialNumber">
        {{option.serialNumber}}
          
        
          </mat-option>
        </mat-autocomplete>
        <!-- <button  mat-icon-button matSuffix aria-label="clear" (click)="dropdownValuesService.applyFilterSerial()" >
          <mat-icon title="{{languageService.productEntry.productSearchWordCancelEffect}}" class="addMore">close</mat-icon>
        </button> -->
   
    </div>
  
  </div>
</div>
        
          <div class="col-md-12 mt-3" style="overflow-x: scroll" *ngIf="invoiceEntryForm.length!=0">
            <div class="smart-table-container" style="width:900px">
              <table class="table table-sm">
                <thead class="thdchild">
                  <tr >
                      <th scope="col">Product Category</th>
                    <th scope="col">{{languageService.InvoiceEntry.ProductName}}</th>
                  
                    <th scope="col">{{languageService.InvoiceEntry.Quantity}}<span class="text-danger"><strong class="bigger-asterisk">*</strong></span></th>
                    <th scope="col">{{languageService.InvoiceEntry.Unit}}</th>
                    <th scope="col">{{languageService.InvoiceEntry.Rate}}</th>
                    <th scope="col">{{languageService.InvoiceEntry.Vatin}}</th>
                    <th scope="col">{{languageService.InvoiceEntry.Discount}}</th>
                    <th scope="col">{{languageService.InvoiceEntry.Amount}}</th>
                    <th scope="col">{{languageService.InvoiceEntry.Action}}</th>
                    <!-- <th scope="col">{{languageService.InvoiceEntry.More}}</th> -->
                  </tr>
                </thead>
                <tbody class="tbdChild">
                  <tr [formGroup]="fg" *ngFor="let fg of invoiceEntryForm.controls; let i=index;" (submit)="recordSubmit(fg)">
                    <td>
                      <input  type="text" class="form-control form-rounded bold-input"   
                      readonly  formControlName="ProductCategory">
                          </td>
                    <td>
                      <input type="text" class="form-control form-rounded bold-input"    
                      readonly  formControlName="ProductBrand"
                        
                      >
                    </td>
                  
                    <td>
                      <input  type="number" 
                      class="form-control form-rounded bold-input"   
                          (change)="OnChangeActions(invoiceEntryForm.value)"   placeholder="Quantity" formControlName="Quantity">
                          <div class="text-danger bold-input" *ngIf="fg.value.Quantity<=0">Qty is Requird</div>
                        </td>
                        <td>
                          <input  type="text" 
                          class="form-control form-rounded"   
                              readonly   placeholder="Unit" formControlName="unit">
                            </td>
                    <td><input  type="number"
                       (change)="OnChangeActions(invoiceEntryForm.value)" 
                       class="form-control form-rounded"  id="Rate" placeholder="Rate" formControlName="Rate"></td>
                    <td><input  type="number" readonly 
                      class="form-control form-rounded"  id="" placeholder="V(%)" formControlName="vatPercent"></td>
                    
                    <td><input  type="number"  
                       class="form-control form-rounded"  id=""  (change)="OnChangeActions(invoiceEntryForm.value)"  placeholder="D(%)" formControlName="discountPercent"></td>
                  
                    <td><input readonly type="number" 
                      class="form-control form-rounded bold-input"  id="Amount" name="Amount" 
                          placeholder="{{fg.value.Amount}}" ></td>
                          
                          
                          <td> 
                      
                             <button (click)="onAddSeialNumber(fg.value,i)" mat-stroked-button color="primary">Add serial</button></td>         
                    <td><button  title="{{languageService.productEntry.productDeleteButtonOherEffect}}"  class="btn btn-light ml-1 addMore" (click)="onDelete(invoiceEntryForm,i)"
                      >
                          <i class="far fa-trash-alt fa-lg text-danger "></i>
                          
                        </button> </td>
                      
                     
                  </tr>
                
                </tbody>
              </table>
           
            </div>
          </div>
         
          <button  [disabled]="invoiceEntryForm.invalid"  type="button" 
          class="btn btn-primary"  (click)="allSubmit(invoiceEntryForm)"
          >
              {{languageService.productEntry.Save}}
      </button>
      <button  (click)="reset()"  type="button" class="btn btn-primary ml-2"   
      >
      {{languageService.InvoiceEntry.Refresh}}
      </button>
      <button type="button" (click)="printPreviw()" class="btn btn-primary ml-2">
         {{languageService.InvoiceEntry.PrintMemo}}
      </button>



      <mat-card *ngIf="serialNumberStorage.length>0">
      <div class="col-md-12" style="overflow-x: scroll" >
        <div class="smart-table-container" style="width:500px">
          <table class="table">
            <thead>
              <tr>
                
                <th scope="col">Product Name</th>
                <th scope="col">Serial No.</th>
                <th scope="col">Supplier Org.</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let sn of serialNumberStorage; index as j;">
               
                <td class="less-bold-input">{{sn.productName}}</td>
                <td class="less-bold-input"> {{sn.serialNumber}}</td>
                <td class="less-bold-input">{{sn.suplierOrgName}}</td>
                <td><button  title="{{languageService.productEntry.productDeleteButtonOherEffect}}"  class="btn btn-light ml-1 " (click)="onDeleteSerial(j)"
                  >
                      <i class="far fa-trash-alt fa-lg text-danger "></i>
                      
                    </button> </td>
              </tr>
            </tbody>
          </table>
        </div></div>
      
    </mat-card>
  </div>

  <div class="col-sm-2 col-md-2 col-lg-2  mb-3"  >
   
      <div class="smart-table-container">
       
        <mat-card class="example-card">
    
    
          <mat-card-content>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.Total}}</strong> </label>
                  <input  type="number"
                  name="totalAmount"
                  [(ngModel)]="totalAmount" 
                  class="form-control form-rounded bold-input" readonly  
                   id="JobNo" placeholder="Total Amount">
                  
                </div>
                <div class="form-group">
                  <label    class=""><strong>{{languageService.InvoiceEntry.Vat}}</strong> </label>
                  <input name="totalVat" [(ngModel)]="totalVat" 
                  readonly type="number" class="form-control form-rounded"  id="Amount"  
                  >
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.Dis}}</strong> </label>
                  <input  [(ngModel)]="totalDiscount" readonly 
                  type="number" class="form-control form-rounded"  id="Amount" name="totalDiscount" 
                  >
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.AdditionalDiscount}}</strong> </label>
                  <input  [(ngModel)]="additionalDiscount"  
                  (change)="calculateAdditionalDiscount()" 
                  type="number" class="form-control form-rounded"  
                  id="additionalDiscount" name="additionalDiscount" 
                  >
                </div>
              
              
                
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.TotalPayable}}</strong></label>
                  <input  type="number" class="form-control form-rounded bold-input" 
                  readonly [(ngModel)]="totalPayable"  
                  id="totalPayable" name="totalPayable" 
                  >
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.Receive}}</strong> </label>
                  <input  type="number" name="PaidAmount" [(ngModel)]="PaidAmount"    class="form-control form-rounded bold-input" (change)="currentDueClcltn()" id="" placeholder="Receive">
                  <input  type="hidden" name="salesInvoiceNo" [(ngModel)]="salesInvoiceNo"    class="form-control form-rounded"   >
                  
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.CurrentDue}}</strong></label>
                  <input  type="number" class="form-control form-rounded" readonly [(ngModel)]="totalCurrentDue"  
                  id="totalCurrentDue" name="totalCurrentDue" 
                  >
                </div>
          </mat-card-content>
          
           
      
          
        </mat-card>
      </div>
  
  </div>
</div>
</div>


<!-- previous code -->
<!-- <div class="card-body">
  <div class="row gx-5 bg-white">
    <div class="example-header">

      <div class="row" >

        <div class="col-sm-10 col-md-10 col-lg-10 "  >
      
          <nb-card>
        
            <nb-card-body>
              <div class="row">
                
                <div class="col-sm-3">
                  
                  <div class="form-group">
                    <mat-form-field class="example-full-width">
                      <input type="text"
                             placeholder="{{languageService.InvoiceEntry.CustomerMobile}}"
                             aria-label="Number"
                             
                             matInput
                             [formControl]="myControlCustomer"
                             [matAutocomplete]="customer">
                             
                      <mat-autocomplete autoActiveFirstOption #customer="matAutocomplete">
                       
                        <mat-option *ngFor="let option of filteredOptionsCustomer | async" [value]="option.phone">
                       {{option.phone}}
                        <button class="btn btn-outline-success" (click)="customerSelection(option)">
                                  <i class="fa fa-plus" ></i> 
                              </button>
                      
                        </mat-option>
                      </mat-autocomplete>
                       
                    </mat-form-field>
                  </div>
                
                </div>
                 
                  <div class="col-sm-3">
                    <div class="form-group">
                      <input  type="text"  #cName="ngModel"  [(ngModel)]="clinentName"  class="form-control"  id="JobNo" placeholder="{{languageService.InvoiceEntry.ClientName}}" >
                      <div class="text-left text-danger"
                      *ngIf="clinentName==''&&cName.touched">
                      {{languageService.InvoiceEntry.ClientName}} {{languageService.productEntry.Required}}! 
                    </div>
                    </div>
                   
                  </div>
              
                  <div class="col-sm-1">
                    <div class="form-group">
                      <button type="button"  title="{{languageService.InvoiceEntry.AddNewCustomer}}" *ngIf="!isShowCustomerAddBtn"  (click)="addNewCustomer()" class="btn btn-light btn-sm addMore">
                        <i class="fas fa-plus"></i>
                      </button>
                       
                      </div>
                    </div>
                 
              </div>
              <div class="row">
          
                <div class="col-sm-3">
                  <div class="form-group">
                      <input
                      class="form-control"
                       type="date"
                       name="entryDate" 
                       #eDate="ngModel"
                       [(ngModel)]="entryDate"
                       placeholder="Select Date"
                       required >
                     
                   
                      <div class="text-left text-danger"
                      *ngIf="entryDate==''&&eDate.touched">
                      Date is required 
                    </div>
                  </div>
                 
                </div>
                <div class="col-sm-3">
                  <div class="form-group">
                    <input  type="text" name="memoNo"    [(ngModel)]="memoNo"  class="form-control"  id="JobNo" placeholder="{{languageService.InvoiceEntry.memoNo}}" >
                     
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                        <input
                        class="form-control"
                        type="text"
                        name="salesBy" 
                       
                        [(ngModel)]="salesBy"
                        placeholder="{{languageService.InvoiceEntry.returnBy}}"
                          >
      
                    </div>
                  
                  </div>
              </div>
                <div class="row">
                    
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="Category" class="label text-dark"> {{languageService.productEntry.productCategory}}</label><span class="text-danger">*</span>              
                      <select   name="Category"  #category="ngModel" 
                      (change)="dropdownValuesService.OnCategoryDDLChange(dropdownValuesService.Category)"
                      [(ngModel)]="dropdownValuesService.Category" class="form-control">
                        <option value="">{{languageService.productEntry.Select}} {{languageService.productEntry.productCategory}}  </option>
                        <option *ngFor="let productCategorie of dropdownValuesService.productCategories" [value]="productCategorie.ProductName">{{productCategorie.ProductName}}</option>
                    </select>
                  
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="form-group">
                      <label for="SubCategory" class="label text-dark">{{languageService.productEntry.subCategory}}</label>               
                      <select name="SubCategory"  #subCategory="ngModel"
                      (change)="dropdownValuesService.OnSubCategoryDDLChange(dropdownValuesService.SubCategory)"
                      [(ngModel)]="dropdownValuesService.SubCategory" class="form-control">
                        <option value=''>{{languageService.productEntry.Select}} {{languageService.productEntry.subCategory}} </option>
                        <option *ngFor="let productSubCategorie of dropdownValuesService.filterproductSubCategories"  [value]="productSubCategorie.SubCategoreisName">{{productSubCategorie.SubCategoreisName}}</option>
                    </select>
                         
                    </div>
                  </div>
                  <div class="col-sm-3">
           
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input type="text"
                              placeholder="{{languageService.InvoiceEntry.ChooseProduct}}"
                              aria-label="Number"
                              matInput
                              [formControl]="dropdownValuesService.myControl"
                              [matAutocomplete]="auto">
                              
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                        
                          <mat-option (click)="productSelection(option.key)"  *ngFor="let option of dropdownValuesService.filteredOptions | async" [value]="option.name">
                        {{option.name}}  
                         
                        
                          </mat-option>
                        </mat-autocomplete>
                        <button  mat-icon-button matSuffix aria-label="clear" (click)="dropdownValuesService.applyFilterMyControl()" >
                          <mat-icon title="{{languageService.productEntry.productSearchWordCancelEffect}}" class="addMore">close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  
                  </div>
                  
                  <div class="col-sm-3">
           
                    <div class="form-group">
                      <mat-form-field class="example-full-width">
                        <input type="text"
                              placeholder="{{languageService.InvoiceEntry.ChooseSerialNumber}}"
                              aria-label="Number"
                              matInput
                              [formControl]="dropdownValuesService.myControlSerialNumber"
                              [matAutocomplete]="autoSerialNo">
                              
                        <mat-autocomplete autoActiveFirstOption #autoSerialNo="matAutocomplete">
                        
                          <mat-option (click)="productSelectionWithSerialNumber(option)"  *ngFor="let option of dropdownValuesService.filteredOptionsSerialNumber | async" [value]="option.serialNumber">
                        {{option.serialNumber}}
                         
                        
                          </mat-option>
                        </mat-autocomplete>
                        <button  mat-icon-button matSuffix aria-label="clear" (click)="dropdownValuesService.applyFilterSerial()" >
                          <mat-icon title="{{languageService.productEntry.productSearchWordCancelEffect}}" class="addMore">close</mat-icon>
                        </button>
                      </mat-form-field>
                    </div>
                  
                  </div>
                    
                  
                     
                </div>
                
            
              
              <form>
                <table class="table table-sm">
                  <thead class="thdchild">
                    <tr *ngIf="invoiceEntryForm.length!=0">
                      <th scope="col">{{languageService.InvoiceEntry.ProductName}}</th>
                   
                      <th scope="col">{{languageService.InvoiceEntry.Quantity}}</th>
                      <th scope="col">{{languageService.InvoiceEntry.Unit}}</th>
                      <th scope="col">{{languageService.InvoiceEntry.Rate}}</th>
                      <th scope="col">{{languageService.InvoiceEntry.Vatin}}</th>
                      <th scope="col">{{languageService.InvoiceEntry.Discount}}</th>
                      <th scope="col">{{languageService.InvoiceEntry.Amount}}</th>
                      <th scope="col">{{languageService.InvoiceEntry.Action}}</th>
                  
                    </tr>
                  </thead>
                  <tbody class="tbdChild">
                    <tr [formGroup]="fg" *ngFor="let fg of invoiceEntryForm.controls; let i=index;" (submit)="recordSubmit(fg)">
                     
                      <td>
                        <input type="text" class="form-control "    
                        readonly  formControlName="ProductBrand"
                           
                        >
                      </td>
                   
                      <td>
                        <input  type="number" 
                        class="form-control"   
                             (change)="OnChangeActions(invoiceEntryForm.value)"   placeholder="Quantity" formControlName="Quantity">
                             <div class="text-danger" *ngIf="fg.value.Quantity<=0">Qty is Requird</div>
                          </td>
                          <td>
                            <input  type="text" 
                            class="form-control"   
                                 readonly   placeholder="Unit" formControlName="unit">
                              </td>
                      <td><input  type="text" readonly (change)="OnChangeActions(invoiceEntryForm.value)" class="form-control"  id="Rate" placeholder="Rate" formControlName="Rate"></td>
                      <td><input  type="text" (change)="OnChangeActions(invoiceEntryForm.value)" class="form-control"  id="" placeholder="V(%)" formControlName="vatPercent"></td>
                      <td><input  type="text" (change)="OnChangeActions(invoiceEntryForm.value)" class="form-control"  id="" placeholder="D(%)" formControlName="discountPercent"></td>
                     
                      <td><input readonly type="number" class="form-control"  id="Amount" name="Amount" 
                              placeholder="{{fg.value.Amount}}" ></td>
                             
                            
                              <td> 
                          
                                <button (click)="onAddSeialNumbera(fg.value,i)" mat-stroked-button color="primary">Add serial</button></td>                   
                      <td><button  title="{{languageService.productEntry.productDeleteButtonOherEffect}}"  class="btn btn-light ml-1 addMore" (click)="onDelete(invoiceEntryForm,i)"
                         >
                            <i class="far fa-trash-alt fa-lg text-danger "></i>
                            
                          </button> 
                        </td>
                         
                    </tr>
                   
                  </tbody>
                </table>
                <div class="row">
                  <div class="col-md-6"></div>
                  <div class="col-md-6">
                   
                   
                    <button  [disabled]="invoiceEntryForm.invalid"  type="submit" class="btn btn-outline-success"  (click)="allSubmit(invoiceEntryForm)"
                    ><i
                        class="far fa-save fa-lg"></i>
                        {{languageService.productEntry.Save}}
                </button>
                <button  (click)="reset()"  type="text" class="btn btn-outline-success ml-2"   
                ><i class="fas fa-retweet"></i>
                {{languageService.InvoiceEntry.Refresh}}
                </button>
                <button type="button" (click)="printPreviw()" class="btn btn-light btn-sm  ml-2">
                  <i class="fas fa-info-circle pr-2"></i> {{languageService.InvoiceEntry.PrintMemo}}
                </button>
                  </div>
                </div>
            
              </form>
      
              
      
            </nb-card-body>
          </nb-card>
          <mat-card>
         
            <table class="table">
              <thead>
                <tr>
                  
                  <th scope="col">Product Name</th>
                  <th scope="col">Serial No.</th>
                  <th scope="col">Supplier Org.</th>
                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let sn of serialNumberStorage; index as j;">
                 
                  <td>{{sn.productName}}</td>
                  <td> {{sn.serialNumber}}</td>
                  <td>{{sn.suplierOrgName}}</td>
                  <td><button  title="{{languageService.productEntry.productDeleteButtonOherEffect}}"  class="btn btn-light ml-1 " (click)="onDeleteSerial(j)"
                    >
                        <i class="far fa-trash-alt fa-lg text-danger "></i>
                        
                      </button> </td>
                </tr>
              </tbody>
            </table>
          </mat-card>
        </div>
      
        <div class="col-sm-2 col-md-2 col-lg-2  mb-3"  >
      
         <mat-card class="example-card">
          
           
           <mat-card-content>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.Total}}</strong> </label>
                  <input  type="number"
                  [(ngModel)]="totalAmount" 
                  class="form-control" readonly   id="JobNo" placeholder="Total Amount">
                   
                </div>
                <div class="form-group">
                  <label    class=""><strong>{{languageService.InvoiceEntry.Vat}}</strong> </label>
                  <input [(ngModel)]="totalVat" readonly type="number" class="form-control"  id="Amount" name="Amount" 
                   >
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.Dis}}</strong> </label>
                  <input  [(ngModel)]="totalDiscount" readonly type="number" class="form-control"  id="Amount" name="Amount" 
                   >
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.AdditionalDiscount}}</strong> </label>
                  <input  [(ngModel)]="additionalDiscount"  (change)="calculateAdditionalDiscount()" type="number" class="form-control"  id="additionalDiscount" name="additionalDiscount" 
                   >
                </div>
               
               
            
              
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.TotalPayable}}</strong></label>
                  <input  type="number" class="form-control" readonly [(ngModel)]="totalPayable"  id="totalPayable" name="totalPayable" 
                   >
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.Receive}}</strong> </label>
                  <input  type="number" [(ngModel)]="PaidAmount"    class="form-control" (change)="currentDueClcltn()" id="" placeholder="Receive">
                   
                </div>
                <div class="form-group">
                  <label  class=""><strong>{{languageService.InvoiceEntry.CurrentDue}}</strong></label>
                  <input  type="number" class="form-control" readonly [(ngModel)]="totalCurrentDue"  id="totalCurrentDue" name="totalCurrentDue" 
                   >
                </div>
           </mat-card-content>
          
            
       
           
         </mat-card>
        </div>
      </div>
      
      
      
      
</div></div></div>  -->








