<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Md Mominur Hossain </title>

    <link rel="shortcut icon" href="asset/images/fav.jpg">
    <!-- <link rel="stylesheet" href="asset/css/bootstrap.min.css"> -->
    <!-- <link rel="stylesheet" href="asset/css/fontawsom-all.min.css"> -->
    <!-- <link rel="stylesheet" type="text/css" href="asset/css/style.css" /> -->
</head>

    <body>
        <!-- <img [src]="asset/images/profile.jpg" alt=""> -->
        <div class="container-fluid">
           <div class="container profile-container">
               <div class="row">
                   <div id="menu-jk" class="col-md-4">
                       <div class="pro-s-cover" >
                        <!-- <div class="sidebar-header d-flex align-items-center py-4 px-3"><img class="avatar shadow-0 img-fluid rounded-circle" src="/src/asset/images/gallery/gallery_10.jpg" alt="..."></div> -->
                           <img  height="150px" width="200px" src="/assets/rimon2.jpg" alt="Md Mominur Hossain Rimon">
                           <h6>Mominur Hossain</h6>
                           <!-- <span>Freelancer</span> -->
                           <p>Softwae Engineer</p>
                           <div class="num-box w-100 d-flex">
                               <div class="hire">
                                   <b>10+</b> <br>
                                   <span>Projects </span>
                               </div>
                               <div class="msg">
                                   <b>6+</b> <br>
                                   <span>Experiance</span>
                               </div>
                           </div>
                           <div class="msg-box d-flex">
                               <div class="hire">
                                  <button type="button" class="btn btn-outline-dark">Hire</button>
                               </div>
                               <div class="msg">
                                   <button type="button" class="btn btn-outline-dark">Message</button>
                               </div>
                           </div>
                       </div>
                       <div class="con-cover">
                           <h4>Contact</h4>
                          
                            <ul class="row">

                                <li class="col-md-2" (click)="openFaceboook()"><i class="fab fa-facebook-f" ></i></li>
                                <li class="col-md-2" (click)="openTwitter()"><i class="fab fa-twitter"></i></li>
                                <li class="col-md-2" (click)="openGoogle()"><i class="fab fa-google-plus-g"></i></li>
                                <li class="col-md-2" (click)="openLinkedin()"><i class="fab fa-linkedin-in"></i></li>
                                <li class="col-md-2" (click)="openGit()"><i class="fab fa-github"></i></li>
                            </ul>
                          
                          
                           <div class="cd-ro row no-margin">
                               <span>Mobile No</span>
                               <p><i class="fas fa-phone-square"></i> +8801632-079419</p>
                           </div>
                           <div class="cd-ro row no-margin">
                               <span>Email Addreess</span>
                               <p><i class="fas fa-envelope-square"></i> rimoncse18@gmail.com</p>
                           </div>
                       </div>
                   </div>
                   <div class="col-md-8">
                       <div class="data-box">
                           <h2>About Me</h2>
                           <p>Having Six Plus Experience in Software Development .My Expertise Area is in Angular(2+), .Net and SQL Specially Microsoft Sql Server above 2014.If you are
                            Looking For a Web Developer I hope will Satisfy You.
                           </p>
                           <div class="btn-ro row no-margin">
                               <ul class="btn-link">
                                  <li>
                                      <a href="01632079419"><i class="fas fa-paper-plane"></i> Hire Me</a>
                                  </li>
                                  <li>
                                      <a href="/assets/new_cv.pdf" download><i class="fas fa-cloud-download-alt"></i> <img src="/assets/new_cv.pdf" alt=""> Download Resume</a>
                                  </li>
                              </ul>
                           </div>
                       </div>
                        <div class="data-box">
                           <h2>Experiance</h2>
                           <div class="row exp-row">
                            <h6>Software Engineer</h6>
                            <span><a href="https://brainstempower-a760d.web.app/" target="_blank">BRAINSTEM POWER.</a></span>
                            <i><strong>Sep 2019 - Present</strong></i>
                            <i>>Gatharing Domain knowledge</i> 
                            <i>>Requirment Analysis</i> 
                            <i>>UI&UX Design </i>
                            <i>>Algorithm Design </i> 
                            <i>>Database Design && Engineering</i> 
                            <i>>Debugging & Testing</i> 
                            <i>>Deploying to IIS Server</i> 
                           </div>
                          
                           <div class="row exp-row">
                               <h6>Programmer/Analyst</h6>
                               <span><a href="http://www.tecbsl.com/" target="_blank">Technology and Business Solutions Ltd. (TBS)</a></span>
                               <i><strong>Dec 2016 - Feb 2019</strong></i> 
                               <i>>Requirment Analysis</i> 
                               <i>>Research and Development</i> 
                               <i>>Software development and maintenance</i> 
                           </div>
                          
                           
                           <div class="row exp-row last">
                            <h6> PROJECT ACCOMPLISHED</h6>
                            <p>Building a Web application name <strong>“RMG Challenger”</strong> which is Garments ERP using Fronted Technology Angular 6+ ,Bakend .Net Core and Database is 
                                Microsoft Sql Server 2026 .Already 5 Module has been Completed .Work is Ongoing.
                               Project Link:<a href="https://garmentserp-62a7a.web.app/" target="_blank">Rmg Challenger</a>  User Id:Yan Pass: 12</p>

                               <p>Built an application name <strong>“SkySellBd” </strong> that is inventory Management Software in
                                using Angular 8+ and front end technologies with firebase.Link:<a href="https://skysellbd.web.app/" target="_blank">SkySellBD</a> (login with mobile:01632079419 and Pass:123)</p>
                              
                                <p> Built an ecommerce application name <strong>“DISHARII”</strong> for reading books and creating library using Angular 2+ and
                            front end technologies with firebase. Link:<a href="https://disharii-d7abe.web.app/" target="_blank">disharii.com</a></p>
                            <p>Built an application name <strong>“Click a Vacation” </strong>for booking hotel, restaurant and searching for the best places in
                                Bangladesh (In Progress) using Angular 4+ and front end technologies with firebase.Link:<a href="https://welcomebangladesh-6b613.firebaseapp.com/" target="_blank">Click a Vacation</a></p>

                               

                                    <p>Built an application name <strong>“E-Land” </strong> that is Land Office Management Software (web+Mobile) in
                                     using Angular 8+ and front end technologies with firebase.Link:<a href="https://vhumi-office-web.web.app" target="_blank">E-land-office</a> Which is Government Project.</p>
                    <p>Built an application name <strong>“ONLINE XRAY BD” </strong> that is Online X-ray Report Preview System 
                     using Angular 8+ and front end technologies with firebase.Link:<a href="https://onlinexraybd.web.app/" target="_blank">Online X-ray BD</a> (login with email:admin@gmail.com and pass:123456)</p>
   
                            <p>Built a web application for Employee Management system <strong>“HrCapital”</strong>  which can Manage Employee Profile
                                Information Leave Time Management &Payroll systems Using ASP.Net MVC.</p>
                          
                            <p>

                                • Built a web application named <strong>“Smart E-Healthcare”</strong>  for healthcare system which can detect disease according to
                                symptom using ASP.Net MVC. Project link: <a href="https://github.com/Rimonnn/Smart_E_-Helthcare.git" target="_blank">Smart Healthcare</a> (University Project)
                            </p>
                            <p>
                                • Built an application for <strong>Diagnostic Bill Management</strong>  system using ASP.Net web forms.
                                Project link: <a href="https://github.com/Rimonnn/diagonisticCenterManagementSystem.git" target="_blank">DBM</a> 
                            </p>
                           <p>
                            • Built a web application for <strong>University Management Systems</strong>  using ASP.Net MVC (with entity framework).
                            Project link: <a href=" https://github.com/Rimonnn/UniversityManagementSystem.git" target="_blank">University Management System</a>
                           </p>
                           
                          <p>
                            • Completing a project name <strong>“Asset Traking System”</strong> using ASP.Net MVC (with entity framework including
                            repository pattern and dependency injection). Project link: <a href="https://github.com/Rimonnn/Asset-Tracking-System-App.git" target="_blank">ATS</a>
                          </p>

                          
                         
                           <p>
                            • Maintain a web application named “SPONDON” which can be used for tracking employee activities and records by
                            Using ASP.Net MVC.
                           </p>
                          <p>
                            • Maintain a web application named “Smart Condition” which can be used for measuring discount and commission
                            based on product sales by Using ASP.Net MVC.
                          </p>
                           </div>
                       </div>
                       <div class="data-box service-box">
                        <h2>Services</h2>
                        <div class="service no-margin row">
                           <div class="col-sm-2 no-padding serv-logo">
                             <i class="fab fa-chrome"></i>
                           </div>
                           <div class="col-sm-10 rgbf serv-det">
                               <h5>Web Apps Development</h5>
                               <p>Angular,.Net,SQL</p>
                           </div>
                       </div>
                   
                       <div class="service no-margin row">
                           <div class="col-sm-2 no-padding serv-logo">
                             <i class="fab fa-delicious"></i>
                           </div>
                           <div class="col-sm-10 rgbf serv-det">
                               <h5>Fronted Development</h5>
                               <p>Html,css,javascript,Angular 2+</p>
                           </div>
                       </div>
                       <div class="service no-margin row">
                         <div class="col-sm-2 no-padding serv-logo">
                              <i class="fab fa-delicious"></i>
                         </div>
                         <div class="col-sm-10 rgbf serv-det">
                             <h5>Bakend Development</h5>
                             <p>c#,Ado.net,Mvc,Asp.net core</p>
                         </div>
                     </div>
                     <div class="service no-margin row">
                        <div class="col-sm-2 no-padding serv-logo">
                              <i class="fas fa-code"></i>
                        </div>
                        <div class="col-sm-10 rgbf serv-det">
                            <h5>Database Engineer</h5>
                            <p>SQL,Microsoft SQL Server => 2014</p>
                        </div>
                    </div>
                    </div>
                    
                       <div class="data-box education-detail">
                           <h2>Education Details</h2>
                            <div class="service no-margin row">
                              <div class="col-sm-3 no-padding resume-dat serv-logo">
                                  <h6>2012-2016</h6>
                                <p>Bachelor of Science in Computer Science & Engineering</p>
                              </div>
                              <div class="col-sm-9 rgbf">
                                  <h5>World University of Bangladesh,Dhaka</h5>
                                  <p><a href="https://www.wub.edu.bd/" target="_blank">Website Link: https://www.wub.edu.bd/</a></p>
                              </div>
                          </div>
                          <div class="service no-margin row">
                              <div class="col-sm-3 no-padding resume-dat serv-logo">
                                  <h6>2009-2010</h6>
                                <p>Higher Secondary Certificate (Science)</p>
                              </div>
                              <div class="col-sm-9 rgbf">
                                  <h5>Lokmanpur College, Natore</h5>
                                  <p><a href="http://lokmanpurcollege.edu.bd/en/index.php" target="_blank">Website Link: http://lokmanpurcollege.edu.bd/</a></p>
                              </div>
                          </div>
                          <div class="service no-margin row">
                              <div class="col-sm-3 no-padding resume-dat serv-logo">
                                  <h6>2007-2008</h6>
                                <p>Secondary School Certificate (Science)</p>
                              </div>
                              <div class="col-sm-9 rgbf">
                                  <h5>Lokmanpur High School,Natore</h5>
                                  <p><a href="https://www.facebook.com/lokmanpurhighschool6410/" target="_blank">Website Link: Lokmanpur School</a></p>
                              </div>
                          </div>
                      
                       </div>
                       
                    
                       <div class="data-box contact-tab">
                           <h2>Contact US</h2>
                           <div class="row no-margin">
                                          <div class="col-md-12 no-padding">
<!--                                             
                                               <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3176144.0450019627!2d-107.79423426090409!3d38.97644533805396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x874014749b1856b7%3A0xc75483314990a7ff!2sColorado%2C+USA!5e0!3m2!1sen!2sin!4v1547222354537"  frameborder="0" style="border:0" allowfullscreen></iframe> -->
                                               <!-- <iframe src="/assets/map.jpg" frameborder="0"></iframe> -->
                                               <img src="/assets/map.JPG" alt="location">
                                          </div>
                                          <!-- <div class="col-md-12">
                                             <br>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Full Name" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   <div class="col-sm-6">
                                                      <input placeholder="Enter Email Address" type="text" class="form-control form-control-sm">
                                                  </div>
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <input placeholder="Enter Mobile Number" type="text" class="form-control form-control-sm">
                                                  </div>
                                                   
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-12">
                                                     <textarea placeholder="Enter your Message" class="form-control form-control-sm" rows="10"></textarea>
                                                  </div>
                                                  
                                              </div>
                                              <div class="row cont-row no-margin">
                                                  <div class="col-sm-6">
                                                      <button class="btn btn-sm btn-success">Send Message</button>
                                                  </div>
                                                   
                                              </div>
                                          </div> -->
                                      </div>
                       </div>
                       
                       
                   </div>
               </div>
           </div>
        </div> 
    </body>

<script src="asset/js/jquery-3.2.1.min.js"></script>
<script src="asset/js/popper.min.js"></script>
<script src="asset/js/bootstrap.min.js"></script> 
<script type="application/javascript" src="asset/js/jquery-scrolltofixed-min.js"></script>       
<script src="asset/js/script.js"></script>


</html>